.body-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-inner{
    width: 80%;
    margin-top: 50px;
}

@media(max-width:852px){
    .body-inner{
        width:90%;
        margin-top: 90px;
    }
}